<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58652620380-s7rch0aanqtt1n3nt75sjjs8q9sv89u7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58652620380-s7rch0aanqtt1n3nt75sjjs8q9sv89u7</string>
	<key>API_KEY</key>
	<string>AIzaSyD98qwYZbekEX3EQkedO8FmUwlnRhrR_GA</string>
	<key>GCM_SENDER_ID</key>
	<string>58652620380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>sar-ecom-54d63</string>
	<key>STORAGE_BUCKET</key>
	<string>sar-ecom-54d63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58652620380:ios:1b5886f5eb0cb55d105899</string>
</dict>
</plist>